<div class="project">
	<div class="wrap">
		<h2 class="h2 project__main-title">{{mainTitle}}</h2>
		<div class="project__item project__item--normal">
			<div class="project__item-content">
				<h2 class="h2 project__title">{{title}}</h2>
				<p class="project__text">{{text}}</p>
				<a class="btn" href="javascript:;">{{link}}</a>
			</div>
			<div class="project__image project__image--normal">
				{{#if additionalImage}}
				<img class="project__additional-image" src="{{additionalImage}}" alt="">
				{{/if}}
				<div class="project__img has-cover" style="background-image: url('{{image}}');"><div>
			</div>
		</div>
		<div class="project__item project__item--reverse">
			<div class="project__item-content">
				<h2 class="h2 project__title">{{titleReverse}}</h2>
				<p class="project__text">{{textReverse}}</p>
				<a class="btn" href="javascript:;">{{linkReverse}}</a>
			</div>
			<div class="project__image project__image--reverse">
				{{#if additionalImageReverse}}
				<img class="project__additional-image" src="{{additionalImageReverse}}" alt="">
				{{/if}}
				<div class="project__img has-cover" style="background-image: url('{{imageReverse}}');"><div>
			</div>
		</div>
		{{!-- <span class="circle circle--blue"></span> --}}
	</div>
</div>

{{!-- Aktuelni projekti ns klub, lice ulice --}}
