@using Patrija.Core.ViewModels.Partials.Home
@inherits UmbracoViewPage<AboutUsViewModel>

<div class="about-us">
    <div class="wrap wrap--small">
        <div class="about-us__content">
            <h6 class="h6 about-us__tag">@Model.Tag</h6>
            <h2 class="h2 about-us__title">@Model.Title</h2>
            <p class="about-us__text">@Model.Text</p>
            @Html.Partial("Link", Model.Link, new ViewDataDictionary() { { "className", "btn" } })
			<div class="about-us__image-outer">
                <div class="about-us__images">
                    <div class="about-us__image">
                        <div class="about-us__img has-cover" style="background-image: url('@Model.Image.Url');"></div>
                    </div>
                    @*<div class="about-us__shape">
                    <img src="{{shape}}" alt="">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
