@using Patrija.Core.Controllers.Surface.Partials

@model Patrija.Core.ViewModels.Partials.Blog.ArticleContentViewModel

@{
    var formId = ViewData["formId"] as string ?? string.Empty;
}

<div class="news-details">
    <div class="wrap wrap--medium">
        <div class="news-details__container">
            <div class="news-details__content">
                <div class="rte">
                    @if (!string.IsNullOrWhiteSpace(Model.ArticleSubtitle))
                    {
                        <h3>@Model.ArticleSubtitle</h3>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ArticleContentHtml.ToString()))
                    {
                        @Model.ArticleContentHtml;
                    }

                </div>
                <div class="news-details__share">
                    <span class="h6 news-details__share-title">@UmbracoDictionary.News.ShareTitle</span>
                    @{
                        Html.RenderAction<SharedController>(c => nameof(SharedController.Share), new { page = Model.CurrentPage });
                    }
                </div>
                @if (Model.CommentsBlock != null)
                {
                    <div class="news-details__comments">
                        @if (!string.IsNullOrWhiteSpace(Model.CommentsBlock.LeaveACommentTitle))
                        {
                            <h3 class="h3 news-details__comments-title">@Model.CommentsBlock.LeaveACommentTitle</h3>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.CommentsBlock.LeaveACommentSubtitle))
                        {
                            <p class="news-details__comments-text">@Model.CommentsBlock.LeaveACommentSubtitle</p>
                        }
                        @{var form = Model.CommentsBlock.Form;}
                            <div id="comment-form" data-pagename="@Model.CurrentPage.PageTitle" class="news-details__form-wrapper">
                                <div class="simple-form" id="blogcomment">
                                    <div class="wrap wrap--normal">
                                        <div class="simple-form__content">
                                            <div class="simple-form__container">
                                                <form action="" method="post" class="form">
                                                    <div class="form__row">
                                                        <label class="form__label" for="name">@form.NameFieldText</label>
                                                        <input class="form__input" type="text" id="name" name="name">
                                                        <span class="form__error-message" data-for="name">@form.NameFieldError</span>
                                                    </div>
                                                    <div class="form__row">
                                                        <label class="form__label" for="email">@form.EmailFieldText</label>
                                                        <input class="form__input" type="email" id="email" name="email">
                                                        <span class="form__error-message" data-for="email">@form.EmailFieldError</span>
                                                    </div>
                                                    <div class="form__row">
                                                        <label class="form__label" for="message">@form.CommentFieldText</label>
                                                        <textarea class="form__input form__input--textarea" id="message" name="message"></textarea>
                                                        <span class="form__error-message" data-for="message">@form.CommentFieldError</span>
                                                    </div>
                                                    <div class="form__row">
                                                        <button class="btn btn--mint btn--submit" type="button">@form.SubmitButtonText</button>
                                                    </div>
                                                    <span class="form__message-success">@Html.Raw(form.SuccessMessage)</span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @if (Model.CommentsBlock.Comments != null && Model.CommentsBlock.Comments.Any())
                        {
                            <h3 class="h3 news-details__comments-heading">@UmbracoDictionary.Blog.CommentsTitle <span>(@Model.CommentsBlock.Comments.Count)</span></h3>
                            foreach (var comment in Model.CommentsBlock.Comments)
                            {
                                <div class="comment-block">
                                    @if (!string.IsNullOrWhiteSpace(comment.CommenterName) && !string.IsNullOrWhiteSpace(comment.CommentText))
                                    {
                                        <h4 class="comment-block__author">@comment.CommenterName</h4>
                                        <p class="comment-block__text">@comment.CommentText</p>
                                    }
                                </div>
                            }

                        }

                    </div>
                }

            </div>
            @if (Model.Widgets != null && Model.Widgets.Any())
            {
                <div class="news-details__sidebar">
                    @foreach (var widget in Model.Widgets)
                    {
                        if (!string.IsNullOrWhiteSpace(widget.Title))
                        {
                            <h4 class="h6 news-details__sidebar-title">@widget.Title</h4>
                        }
                        if (widget.Blogs != null && widget.Blogs.Any())
                        {
                            <ul class="news-details__list">
                                @foreach (var blog in widget.Blogs)
                                {
                                    <li class="news-details__item">
                                        @if (blog.Image != null)
                                        {
                                            <div class="news-details__item-img">
                                                <a href="@blog.Url">
                                                    <img class="news-details__item-image" src="@blog.Image.Url" alt="">
                                                </a>
                                            </div>
                                        }

                                        <div class="news-details__item-content">
                                            <span class="news-details__item-date">@blog.Date.ToString("dd.MM.yyyy.")</span>
                                            @if (!string.IsNullOrWhiteSpace(blog.Title))
                                            {
                                                <h4 class="h6 news-details__item-title">
                                                    <a href="@blog.Url;">@blog.Title</a>
                                                </h4>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    }
                </div>
            }
            <div class="circle circle--mint single-blog-circle-left"></div>
            <div class="circle circle--large circle--blue single-blog-circle-right"></div>
            <div class="single-blog-shape-blue">
                <img src="/assets/images/shapes/single-blog-shape-01.svg" alt="">
            </div>
            <div class="single-blog-shape-mint">
                <img src="/assets/images/shapes/single-blog-shape-02.svg" alt="">
            </div>
        </div>
    </div>
</div>




