<div class="member-form">
	<div class="wrap wrap--normal">
		<div class="member-form__container">
			<div class="member-form__column">
				<h3 class="h3 member-form__title">{{title}}</h3>
				<form action="" method="post" class="form">
					<div class="form__row">
						<label class="form__label" for="name">{{labelName}}</label>
						<input class="form__input" type="text" id="name" name="name">
						<span class="form__error-message">{{errorMessage}}</span>
					</div>
					<div class="form__row">
						<label class="form__label" for="email">{{labelEmail}}</label>
						<input class="form__input" type="email" id="email" name="email">
						<span class="form__error-message">{{errorMessage}}</span>
					</div>
					<div class="form__row">
						<label class="form__label" for="message">{{labelMessage}}</label>
						<textarea class="form__input form__input--textarea" id="message" name="message"></textarea>
						<span class="form__error-message">{{errorMessage}}</span>
					</div>
					<div class="form__row">
						<button class="btn btn--mint btn--submit" type="submit">{{submitBtn}}</button>
					</div>
					<span class="form__message-success">{{successMesage}}</span>
				</form>
			</div>
			<div class="member-form__column">
				<h3 class="h3 member-form__title">{{userTitle}}</h3>
				<form action="" method="post" class="form">
					<div class="form__row">
						<label class="form__label" for="name">{{labelName}}</label>
						<input class="form__input" type="text" id="name" name="name">
						<span class="form__error-message">{{errorMessage}}</span>
					</div>
					<div class="form__row">
						<label class="form__label" for="email">{{labelEmail}}</label>
						<input class="form__input" type="email" id="email" name="email">
						<span class="form__error-message">{{errorMessage}}</span>
					</div>
					<div class="form__row">
						<label class="form__label" for="message">{{labelMessage}}</label>
						<textarea class="form__input form__input--textarea" id="message" name="message"></textarea>
						<span class="form__error-message">{{errorMessage}}</span>
					</div>
					<div class="form__row">
						<button class="btn btn--blue btn--submit" type="submit">{{userSubmitBtn}}</button>
					</div>
					<span class="form__message-success">{{successMesage}}</span>
				</form>
			</div>
		</div>
	</div>
</div>
