<div class="join-module has-cover ">
	<div class="wrap wrap--small">
		<div class="join-module__container">
			<h2 class="h2 join-module__title">{{title}}</h2>
			<p class="join-module__info">{{text}}</p>
			<div class="join-module__links">
				<button type="button" class="btn btn--small join-module__btn js-user-popup">{{btnTextFirst}}</button>
				<button type="button" class="btn btn--small btn--mint join-module__btn js-volunteer-popup">{{btnTextSecond}}</button>
			</div>
			<div class="join-module__images">
				<div class="join-module__image join-module__image--top"><img src="{{imageTop}}" alt=""></div>
				<div class="join-module__image join-module__image--right"><img src="{{imageRight}}" alt=""></div>
				<div class="join-module__image join-module__image--bottom"><img src="{{imageBottom}}" alt=""></div>
				<div class="join-module__image join-module__image--left"><img src="{{imageLeft}}" alt=""></div>
			</div>
		</div>
	</div>
</div>
