@using Patrija.Core.ViewModels.Partials.AboutUsPage;
@inherits UmbracoViewPage<FeaturedProjectsContainerViewModel>
    
<div class="project">
    <div class="wrap wrap--medium">
        <h2 class="h2 project__main-title">@Model.Title</h2>
        @foreach (FeatruedProjectViewModel featruedProjectViewModel in Model.featruedProjectViewModels)
        {
            <div class="project__item @(featruedProjectViewModel.ContentPosition == "Left" ? "project__item--normal" : "project__item--reverse")">
                <div class="project__item-content">
                    <h2 class="h2 project__title">@featruedProjectViewModel.Title</h2>
                    <p class="project__text">@featruedProjectViewModel.Text</p>
                    <a class="btn" href="@featruedProjectViewModel.Link.Url">@featruedProjectViewModel.Link.Content</a>
                </div>
                <div class="project__image @(featruedProjectViewModel.ContentPosition == "Left" ? "project__image--normal" : "project__image--reverse")">
                    @if (featruedProjectViewModel.AdditionalImage != null)
                    {
                        <img class="project__additional-image" src="@featruedProjectViewModel.AdditionalImage" alt="">
                    }
                    <div class="project__img has-cover" style="background-image: url('@featruedProjectViewModel.FeatureImage');"></div>
                    <span class="circle circle--blue circle--large"></span>
                </div>
            </div>
        }
    </div>
</div>