@using Patrija.Core.ViewModels.Shared;
@using Patrija.Core.ViewModels.Partials.JoinUs;
@inherits UmbracoViewPage<JoinUsViewModel>


@if (Model != null)
{

    <div class="join-module has-cover">
        <div class="wrap wrap--small">
            <div class="join-module__container">
                @if (!string.IsNullOrWhiteSpace(Model.Title))
                {
                    <h2 class="h2 join-module__title">@Model.Title</h2>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Text))
                {
                    <p class="join-module__info">@Html.Raw(Model.Text)</p>

                }

                @if (Model != null && Model.Forms != null && Model.Forms.Any())
                {
                    <div class="join-module__links">
                        @foreach (var form in Model.Forms)
                        {
                            <button type="button" class="btn btn--small join-module__btn @(form.IsVolunteer? " btn--mint js-volunteer-popup" : "js-member-popup" )">@form.PopupButtonText</button>
                        }
                    </div>
                }
                <div class="join-module__images">
                    @if (Model.TopImage != null)
                    {
                        <div class="join-module__image join-module__image--top"><img src="@Model.TopImage.Url" alt="@Model.TopImage.AlternateText"></div>
                    }
                    @if (Model.RightImage != null)
                    {
                        <div class="join-module__image join-module__image--right"><img src="@Model.RightImage.Url" alt="@Model.TopImage.AlternateText"></div>
                    }
                    @if (Model.BottomImage != null)
                    {
                        <div class="join-module__image join-module__image--bottom"><img src="@Model.BottomImage.Url" alt="@Model.BottomImage.AlternateText"></div>
                    }
                    @if (Model.LeftImage != null)
                    {
                        <div class="join-module__image join-module__image--left"><img src="@Model.LeftImage.Url" alt="@Model.LeftImage.AlternateText"></div>
                    }

                </div>
            </div>
        </div>

        @foreach (var form in Model.Forms)
        {
            Html.RenderAction<NestedContentController>
                (c => nameof(c.JoinUsForm), new { viewModel = form });
        }
    </div>
}

